{% extends "base.html" %}

{% block content %}
<body>
<div class="container-fluid text-dark">
    <div class="row text-center mb-5">
       
                <div>
                    <h1>{{ trip }}</h1>
                </div>
                <div>
                 
                        <div>state: {{ trip.state }}</div>
                        <div>arrival date: {{ trip.arrive_dt | date:"M d, Y" }}</div>
                        <div>departure date: {{ trip.depart_dt | date:"M d, Y" }}</div>
                   
                </div>
           
        
    </div>
    <div class="row">
    <div class="col-md-4 bg-light border rounded-3">
        <a class="btn btn-primary bg-gradient" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">flights</a>
        <a href="/trips/flights/add/"><i class="fa-solid fa-plus"></i></a>
       
            
        {% if flights %}
            <div class="collapse multi-collapse" id="multiCollapseExample2">
            {% for f in flights %}
            <ul class="border rounded 5">
            <a href="/trips/flights/{{ f.id }}/change/"> {{ f }} </a>
                <li>Airline: {{ f.airline }} </li>
                <li>Airports: {{ f.airports }} </li>
                <li>Departs: {{ f.arrive_time | date:"h:i A" }} </li>
                <li>Lands: {{ f.depart_time | date:"h:i A" }} </li>
                <li>Notes: {{ f.notes }} </li>
            </ul>
            {% endfor %}
        </div>
    </div>
            {% else %}
    <p>No trips are available.</p>
{% endif %}
     
     <div class="col-md-4 border bg-light rounded-3">
        <a class="btn btn-primary bg-gradient text-light" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Budgets</a>
        <a href="/trips/budgets/add/"><i class="fa-solid fa-plus"></i></a>
        <p style="float:right" class="card bg-warning rounded-3 ps-1 pe-1""> Cost: {{ b_sum }}</p>
        <p style="float:right" class="card bg-warning rounded-3 me-3 ps-1 pe-1"># of items: {{ b_cnt }}</p>  
        {% if budgets %}
            <div class="collapse multi-collapse" id="multiCollapseExample1">
            {% for f in budgets %}
            <ul class="border rounded 5">
                <a href="/trips/budgets/{{ f.id }}/change/"> {{ f }} </a>
                <li>category: {{ f.get_item_type_display }} </li>
                <li>Cost: {{ f.cost }} </li>
                
            </ul>
            {% endfor %}
            </div>
            {% else %}
    <p>No trips are available.</p>
{% endif %}
     </div>
     <div class="col-md-4 border bg-light rounded-3">
        <div syle="inline-block">
        <a class="btn btn-primary bg-gradient" data-bs-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">Attractions</a>
        <a href="/trips/attractions/add/"><i class="fa-solid fa-plus"></i></a>
        <p style="float:right" class="card bg-warning rounded-3 ps-1 pe-1""> Cost: {{ a_sum }}</p>
        <p style="float:right" class="card bg-warning rounded-3 me-3 ps-1 pe-1"> {{ a_cnt }} total attractions</p>  
        </div>
       
        {% if attractions %}
            <div class="collapse multi-collapse border rounded 5" id="multiCollapseExample3">
            {% for f in attractions %}
            <ul class="border rounded 5">
                <a href="/trips/attractions/{{ f.id }}/change/"> {{ f }} </a>
                <li>category: {{ f.get_item_type_display }} </li>
                <li>Cost: {{ f.cost }} </li>
                <li><a href="{{ f.url }}"> {{ f.url }}</a> 
                <li>Confirmed: {{ f.confirmed }} </li>
                <li>Notes: {{ f.notes }} </li>
                
                
            </ul>

            {% endfor %}
        </div>
            {% else %}
    <p>No trips are available.</p>
{% endif %}
     </div>
    </div>

</div>


{% endblock %}