{% extends "base.html" %}
{% block content %}
        <div class="container-fluid">

        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Tiff
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">To My Baby</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL23RRedvPfr5hA0pyDfgxR-nDDhrx0PNITg&usqp=CAU" alt="Girl in a jacket" width="300" height="300">
            <p>Happy Birthday baby! This last year with you has been one of the happiest of my life. Everyday you bring a smile to my face. I have loved enjoying all of the trips, shows, and wonderful food with you :) You have helped me through hard times and really turned me into a better person having you in my life. I love you so much and look forward to a long future together full of adventure. Happy birthday my love.</p>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% if latest_trip_list %}
    <ul>
    {% for trip in latest_trip_list %}
        <li><a href="/trips/{{ trip.id }}/">{{ trip.city }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No trips are available.</p>
{% endif %}
</div>
{% endblock %}
